/*
 * your comment header here
 */


html, body {
    max-width: 1100px !important;
    height: auto;
    margin: auto;
    padding: 0;
    font-family:  'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #49515a !important;
    background-color: #ffffff !important;
}
a {
    color: #49515a;
}

img#logo {
    width: 50%;
    padding-left: 15px;
}

/* Navigation CSS */
.navbar {
    overflow: hidden;
}

.navbar a, .navbar label {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #49515a;
    text-decoration: none;
    line-height: 20px;
}

.navbar a:hover, .navbar label:hover { color: #aaa; }

.navbar label {
    float: right;
    padding: 35px 20px;
    cursor: pointer;
}

.navbar label:after {
    content: "\2261";
    font-size: 1.8em;
}

.logo {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
}

nav {
    float: right;
    max-height: 0;
    padding-top: 20px;
    width: 100%;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

nav li {
    display: block;
    text-align: center;
}

nav a {
    width: 100%;
}

#nav {
    display: none; }

#nav:checked ~ nav {
    max-height: 315px;
}


/* Body CSS */
.body-div{
    text-align: center;
    margin-top: 20px;
}

.centered{
    text-align: center;
}


/* Banner CSS */
.banner_column {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.home_banner01 {
    width: 100%;
}

img#mama {
    width: 50%;
    padding: 70px;
}

img#bts_gr {
    width: 18%;
    padding: 50px;
}

img#bp_gr {
    padding: 50px;
}

img.contact_us {
    width: 100%;
}

img.main-img {
    width: 100%;
}

.col-1 {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
}

.col-2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: left;

}
.col-2-2 {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: -4px;
}

.col-4-01 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    display: inline-block;
}

.col-4-02 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    display: inline-block;
}

.color-img {
    width: 100%;
    height: 150px;
    display: block;
    overflow: visible;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}



h3.headline {
    padding: 10% 5px;
}

.text-title {
    text-align: left;
    position: absolute;
    z-index: 0;
    left: 122px;
    width: 100%;
}


.text_box {
    margin-top: 44px;
    position: absolute;
    text-align: center;
    z-index: 0;
    width: 100%;
}



/* Email CSS */
#error_page {
    height: auto;
    margin: auto;
    padding: 0;
    font-family:  'Work Sans', sans-serif;
}

img.email {
    width: 80%;
    margin: auto;
    display: block;
}

#good_page {
    height: auto;
    margin: auto;
    padding: 0;
    font-family:  'Work Sans', sans-serif;
}

.form-container{
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

#form-div {
    margin: auto 10px;
}

.contact-form {
    width: 100%;
    height: 30px;
}

.form-group {
    margin-bottom: 10px;
}

#message {
    height: 100px;
}

#answer-area {
    height: 100px;
}


/* Artist Page */
iframe.mv {
    width: 100%;
    height: 315px;
}



/* Footer CSS */
footer{
    background: #ffffff;
    padding-bottom: 55px;
}
.my-4 {
    margin: 50px 0 50px 0 !important;
}


/* Start responsive */

@media only screen and (min-width: 700px) {

    .navbar label { display: none; }

    nav {
        width: auto;
        max-height: none;
    }

    nav ul {
        padding: 0;
        padding-right: 10px;
    }

    nav li {
        display: inline-block;
        text-align: left;
    }

    .navbar nav a {
        display: inline-block;
        padding: 20px 10px;
        width: auto;
    }

    /* desktop css goes here */
    .form-container{
        width: 60%;
    }

    .col-1 {
        width: 98%;
        margin-right: auto;
        margin-left: auto;
        margin-top: -3px;
    }

    .col-2 {
        width: 50%;
    }

    .col-4-01, .col-4-02 {
        width: 50%;
        position: relative;
    }

    h3.headline {
        padding: 29% 5px;
    }

    .color-img {
        height: auto;
    }

    .text-title {
        text-align: left;
        position: absolute;
        z-index: 0;
        top: 15%;
        left: 27px;
        width: 50%;
    }

    .text_box {
        text-align: center;
        position: absolute;
        z-index: 0;
        top: 20%;
        width: 100%;
    }

    /* Artist Page */
    iframe.mv {
        width: 850px;
        height: 478px;
    }

    .img_fm {
        width: 33%;
        display: inline-block;
    }
}
