/*
 * your comment header here
 */


html, body {
    max-width: 1100px !important;
    height: auto;
    margin: auto;
    padding: 0;
    font-family:  'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #49515a !important;
    background-color: #ffffff !important;
}
img#logo {
    width: 50%;
}

.bg-light {
    background-color: #ffffff !important;
}




.body-div{
    text-align: center;
    margin-top: 20px;
}

.centered{
    text-align: center;
}

/* Footer style */
footer{
    background: #bdd7ff;
}