<!--
your comment header here
-->


<div class="body-div">
    <img src="image/blackpink/blackpink_logo.jpg" alt="BLACKPINK" id="bp_gr">

    <iframe class="mv" src="https://www.youtube.com/embed/2S24-y0Ij3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr class="my-4">
    <div class="img_fm"><img src="image/blackpink/bpg01.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg02.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg03.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg04.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg05.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg06.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg07.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg08.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg09.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg10.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg11.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg12.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg13.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg14.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg15.jpg" alt="MAMAMOO"></div>

</div>

