<!--
Name: Caroline Kim
Assignment: 05
Purpose: Build a website with templating header.html and footer.html
Notes: This page is for an artist.  It included photos, albums + mv.
MusicVideo is embeded from YouTube, and link for the albums will be redirect to Spotify.
-->


<div class="body-div">
    <img src="image/blackpink/blackpink_logo.jpg" alt="BLACKPINK" id="bp_gr">

    <iframe class="mv" src="https://www.youtube.com/embed/2S24-y0Ij3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
    <div class="col-1">
        <div class="artist_text_box01">
            <p class="artist-text">Blackpink (Hangul: 블랙핑크; commonly stylized as BLACKPINK or BLΛƆKPIИK) is a South Korean
                girl group formed by YG Entertainment, consisting of members Jisoo, Jennie, Rosé, and Lisa. The group debuted on
                August 8, 2016, with their single album Square One, which spawned "Whistle", their first number-one song in South Korea,
                as well as "Boombayah", their first number-one hit on the Billboard World Digital Songs chart.</p>
        </div>
        <div  class="artist_text_box02">
            <p>Click Album to view the album.</p>
            <div class="album"><a href="https://open.spotify.com/album/6vl7a0PooHBuDRLrtNeUL0"><img src="image/blackpink/blackpinkA04.png" alt="Blackpink 2017: Blackpink"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/2zwfcNqJe7IT1RwgVyv1ug"><img src="image/blackpink/blackpinkA05.png" alt="Blackpink 2018: SQUARE UP"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/4cpZazoKuj3jD6x2GrSX2w"><img src="image/blackpink/blackpinkA01.png" alt="Blackpink 2018: Blackpink in your AREA"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/2Gz6UbNiSL1caVQBpExJ5x"><img src="image/blackpink/blackpinkA02.png" alt="Blackpink 2018: Re:Blackpink"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/7viSsSKXrDa95CtUcuc1Iv"><img src="image/blackpink/blackpinkA03.png" alt="Blackpink 2019: Kill this LOVE'"></a></div>
        </div>
    </div>

    <hr class="my-4">
    <div class="img_fm"><img src="image/blackpink/bpg01.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg02.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg03.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg04.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg05.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg06.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg07.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg08.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg09.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg10.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg11.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg12.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg13.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg14.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/blackpink/bpg15.jpg" alt="MAMAMOO"></div>

</div>

