<!--
your comment header here
-->


<div class="body-div">
    <img src="image/bts/bts_logo.png" alt="BTS" id="bts_gr">

    <iframe class="mv" src="https://www.youtube.com/embed/7C2z4GqqS5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
    <div class="col-1">
        <div class="artist_text_box01">
            <p class="artist-text">BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys,
                is a seven-member South Korean boy band formed in Seoul in 2013. The septet co-writes and produces much
                of their output. Originally a hip hop group, their musical style has evolved to include a wide range of genres.
                Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth,
                loss, the journey towards loving oneself, and individualism.</p>
        </div>
        <div  class="artist_text_box02">
            <p>Click Album to view the album.</p>
            <div class="album"><a href="https://open.spotify.com/album/2FTS6a6DLXMNp8flyA0HGO"><img src="image/bts/btsA02.png" alt="BTS 2017: Love Yourself 'HER'"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/66J1OXSaS3hBZASOV3el8t"><img src="image/bts/btsA01.png" alt="BTS 2018: Face Yourself"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/2lATw9ZAVp7ILQcOKPCPqp"><img src="image/bts/btsA03.png" alt="BTS 2018: Love Yourself 'ANSWER'"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/2jJfnAZE6IG3oYnUv2eCj4"><img src="image/bts/btsA05.png" alt="BTS 2018: Love Yourself 'TEAR'"></a></div>
            <div class="album"><a href="https://open.spotify.com/album/1AvXa8xFEXtR3hb4bgihIK"><img src="image/bts/btsA04.png" alt="BTS 2019: Map of the SOUL: PERSONA"></a></div>
        </div>
    </div>

    <hr class="my-4">

        <div class="img_fm"><img src="image/bts/m01.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts01.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/m02.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts02.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/m03.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts03.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts04.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts05.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts06.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/m04.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts07.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts08.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts09.jpg" alt="BTS"></div>
        <div class="img_fm"><img src="image/bts/bts10.jpg" alt="BTS"></div>

</div>

