<!--
*********************************************************
Name: Caroline Kim
Assignment: 05
Purpose: Build a website with templating header.html and footer.html
Notes: Email success html page. This is only the body portion of the page.
The header and footer will be created in separate.
It only represents if the email was sent correctly or not.
*********************************************************
-->


<body id="body-div">
<center>
    <br>
    <h1>
        Email sent SUCCESS
    </h1>
    <img src="image/email01.png" alt="success" class="email">
</center>
</body>
