<!--
*********************************************************
Name: Caroline Kim
Assignment: 05
Purpose: Build a website with templating header.html and footer.html
Notes: This is footer.html.  It is like a frame, once it is created, the footer no longer in need to be add into individual html page.
*********************************************************
-->

        <footer class="centered">
            <hr class="my-4">

            <!-- {{footertitle}} is a Mustache variable and will be replaced
            with the value from the associative array value from index.php-->
            {{footertitle}}<br><br>
            Local Server Time: {{localtime}}
            <div>


            </div>
        </footer>
    </body>
</html>
