<!--
*********************************************************
Name: Caroline Kim
Assignment: 05
Purpose: Build a website with templating header.html and footer.html
Notes: This is header.html.  This is where Navigation happens.
I have five different 'menu's that takes to different pages.
*********************************************************
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="image/favicon.gif" type="image/gif">

    </head>
    <body>



    <div class="navbar" >

        <a class="logo" href="index.php"><img src="image/kpop_logo.png" alt="logo" id="logo"></a>
        <input id="nav" type="checkbox">
        <label for="nav"></label>

    <nav>
        <ul>
            <li class="nav-item active">
                <a class="nav-link" href="index.php">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mamamoo.php">MAMAMOO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="bts.php">BTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blackpink.php">BLACKPINK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.php">CONTACT</a>
            </li>
        </ul>
    </nav>
    </div>