<!--
your comment header here
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.gif" type="image/gif">
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="image/logo.png" alt="logo" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link "href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="shop.html">SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="contact.html">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "href="register.html">REGISTER</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>