<!--
your comment header here
-->


<div class="body-div">

    <div class="banner_column">
        <img src="image/home_banner01" alt="On Stage" class="home_banner01">
    </div>


    <!-- First row -->
    <div class="group_banner">
        <img src="image/mamamoo/mamamoo_logo.png" alt="MAMAMOO" id="mama">
    </div>

    <div class="col-1">
        <div class="col-2">
            <img src="image/mamamoo/mmm-main.png" alt="MAMAMOO" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/mamamoo/mmm-main-side02.png" alt="MAMAMOO" class="main-img"></div>
                <div class="col-4-02-mama">
                    <h3 class="headline">Update: MAMAMOO’s Hwasa And Woogie<br>Unveil Sound Teaser For Upcoming Collaboration</h3>

                </div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02-mama">
                    <h3 class="headline">Lovelyz’s Kei Shares Reaction To Criticism Over “Queendom”<br>Performances + Talks About Singing With MAMAM...</h3>
                </div>
                <div class="col-4-01"><img src="image/mamamoo/mmm-main-side01.png" alt="MAMAMOO" class="main-img"></div>
            </div>
        </div>
    </div>


    <!--Second row -->
    <div class="group_banner">
        <img src="image/bts/bts_logo.png" alt="BTS" id="bts_gr">
    </div>

    <div class="col-1">
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/bts/bts-main-side02.png" alt="BTS" class="main-img"></div>
                <div class="col-4-02-bts">
                    <h3 class="headline">J-Hope Becomes First BTS Member to Hit Hot 100 Solo Wit<br>'Chicken Noodle Soup' Alongside Becky G</h3>
                </div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02-bts">
                    <h3 class="headline"><br>Seven Things We Learned From BTS' Latest Cover Story<br>| Billboard News |<br></h3>
                </div>
                <div class="col-4-01"><img src="image/bts/bts-main-side01.png" alt="BTS" class="main-img"></div>
            </div>
        </div>



        <div class="col-2">
            <img src="image/bts/bts-main.png" alt="BTS" class="main-img">
        </div>
    </div>

    <!-- Thrid row -->
    <div class="group_banner">
        <img src="image/blackpink/blackpink_logo.jpg" alt="BLACKPINK" id="bp_gr">
    </div>

    <div class="col-1">
        <div class="col-2">
            <img src="image/blackpink/bp-main.png" alt="BLACKPINK" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/blackpink/bp-main-side01.png" alt="BLACKPINK" class="main-img"></div>
                <div class="col-4-02-bp">
                    <h3 class="headline"><br>Blackpink: Meet the K-pop superstars backstage<br>| BBC News |<br></h3>
                </div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02-bp">
                    <h3 class="headline"><br>Fans Are Excited Because BLACKPINK Just Confirmed<br>They're Working On New Music<br></h3>
                </div>
                <div class="col-4-01"><img src="image/blackpink/bp-main-side02.png" alt="BLACKPINK" class="main-img"></div>
            </div>
        </div>
    </div>

</div>
