<!--
your comment header here
-->


<div class="body-div">

    <div class="banner_column">
        <img src="image/home_banner01" alt="On Stage" class="home_banner01">
    </div>

    <!-- First row -->
    <div class="col-1">
        <div class="col-2">
            <img src="image/bts/bts-main.png" alt="BTS" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/bts/bts-main-side02.png" alt="BTS" class="main-img"></div>
                <div class="col-4-02">RIGHT square</div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02">LEFT square</div>
                <div class="col-4-01"><img src="image/bts/bts-main-side01.png" alt="BTS" class="main-img"></div>
            </div>
        </div>
    </div>

    <!-- Second row -->
    <div class="col-1">
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/bts/bts-main-side02.png" alt="BTS" class="main-img"></div>
                <div class="col-4-02">RIGHT square</div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02">LEFT square</div>
                <div class="col-4-01"><img src="image/bts/bts-main-side01.png" alt="BTS" class="main-img"></div>
            </div>
        </div>
        <div class="col-2">
            <img src="image/bts/bts-main.png" alt="BTS" class="main-img">
        </div>
    </div>

    <!-- Thrid row -->
    <div class="col-1">
        <div class="col-2">
            <img src="image/bts/bts-main.png" alt="BTS" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/bts/bts-main-side02.png" alt="BTS" class="main-img"></div>
                <div class="col-4-02">RIGHT square</div>
            </div>
            <div class="col-2-2">
                <div class="col-4-02">LEFT square</div>
                <div class="col-4-01"><img src="image/bts/bts-main-side01.png" alt="BTS" class="main-img"></div>
            </div>
        </div>
    </div>



    This is the body of your page
    <br>
    <br>
</div>
