<!--
your comment header here
-->


<div class="body-div">

    <div class="banner_column">
        <img src="image/home_banner01" alt="On Stage" class="home_banner01">
    </div>


    <!-- First row -->
    <div class="group_banner">
        <a href="mamamoo.php"><img src="image/mamamoo/mamamoo_logo.png" alt="MAMAMOO" id="mama"></a>
    </div>

    <div class="col-1">
        <div class="col-2">
            <img src="image/mamamoo/mmm-main.png" alt="MAMAMOO" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/mamamoo/mmm-main-side02.png" alt="MAMAMOO" class="main-img"></div>
                <div class="col-4-01">
                    <h2 class="text-title">Update:</h2>
                    <p class="text_box">
                        MAMAMOO’s Hwasa And Woogie<br>Share New Sound Teaser For<br>Upcoming Collaboration<br><br>
                    <a href="https://www.soompi.com/article/1357500wpp/mamamoos-hwasa-announces-collaboration-with-dont-producer-woogie">| CLICK TO NEWS |</a>
                    </p>
                    <img src="image/bg01.png" alt="colorblock" class="color-img"></div>
            </div>
            <div class="col-2-2">
                <div class="col-4-01">
                    <h2 class="text-title">M.Net</h2>
                    <p class="text_box">
                        MAMAMOO wow with their perfect<br>harmony in opening performance<br>for Mnet's 'Queendom'<br><br>
                        <a href="https://www.allkpop.com/video/2019/08/mamamoo-wow-with-their-perfect-harmony-in-opening-performance-for-mnets-queendom">| CLICK TO Mnet. |</a>
                    </p>
                    <img src="image/bg01.png" alt="colorblock" class="color-img">
                </div>
                <div class="col-4-01"><img src="image/mamamoo/mmm-main-side01.png" alt="MAMAMOO" class="main-img"></div>
            </div>
        </div>
    </div>


    <!--Second row -->
    <div class="group_banner">
        <a href="bts.php"><img src="image/bts/bts_logo.png" alt="BTS" id="bts_gr"></a>
    </div>

    <div class="col-1">
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/bts/bts-main-side02.png" alt="BTS" class="main-img"></div>
                <div class="col-4-01">
                    <h2 class="text-title">NEWS:</h2>
                    <p class="text_box">
                        The Mastermind Behind BTS<br>Opens Up About Making<br>a K-Pop Juggernaut<br><br>
                        <a href="https://time.com/5681494/bts-bang-si-hyuk-interview/">| CLICK TO TIME |</a>
                    </p>
                    <img src="image/bg02.png" alt="colorblock" class="color-img"></div>
            </div>
            <div class="col-2-2">
                <div class="col-4-01">
                    <h2 class="text-title">Update:</h2>
                    <p class="text_box">
                        BTS’s J-Hope Now Claims<br>The Most Chart Hits In The U.K.<br>Among All K-Pop Musicians<br><br>
                        <a href="https://www.soompi.https://www.forbes.com/sites/hughmcintyre/2019/10/09/btss-j-hope-now-claims-the-most-chart-hits-in-the-uk-among-all-k-pop-musicians/#50bc05ad3de9">| CLICK TO FORBES |</a>
                    </p>
                    <img src="image/bg02.png" alt="colorblock" class="color-img"></div>
                <div class="col-4-01"><img src="image/bts/bts-main-side01.png" alt="BTS" class="main-img"></div>
            </div>
        </div>



        <div class="col-2">
            <img src="image/bts/bts-main.png" alt="BTS" class="main-img">
        </div>
    </div>

    <!-- Thrid row -->
    <div class="group_banner">
        <a href="blackpink.php"><img src="image/blackpink/blackpink_logo.jpg" alt="BLACKPINK" id="bp_gr"></a>
    </div>

    <div class="col-1">
        <div class="col-2">
            <img src="image/blackpink/bp-main.png" alt="BLACKPINK" class="main-img">
        </div>
        <div class="col-2">
            <div class="col-2-2">
                <div class="col-4-01"><img src="image/blackpink/bp-main-side01.png" alt="BLACKPINK" class="main-img"></div>
                <div class="col-4-01">
                    <h2 class="text-title">E! News:</h2>
                    <p class="text_box">
                        Shawn Mendes Met BLACKPINK<br>And He's Stanning Them<br>As Hard As We Are<br><br>
                        <a href="https://www.eonline.com/ap/news/1077516/shawn-mendes-met-blackpink-and-he-s-stanning-them-as-hard-as-we-are">| CLICK TO E!NEWS |</a>
                    </p>
                    <img src="image/bg03.png" alt="colorblock" class="color-img"></div>
            </div>
            <div class="col-2-2">
                <div class="col-4-01">
                    <h2 class="text-title">Update:</h2>
                    <p class="text_box">
                        BTS Vs Blackpink:<br>The Boy Band Just Overtook<br>the Most-Streamed Song<br>‘Kiss and Make Up’<br><br>
                        <a href="https://in.mashable.com/entertainment/7325/bts-vs-blackpink-the-boy-band-just-overtook-the-most-streamed-song-kiss-and-make-up">| CLICK TO NEWS |</a>
                    </p>
                    <img src="image/bg03.png" alt="colorblock" class="color-img"></div>
                <div class="col-4-01"><img src="image/blackpink/bp-main-side02.png" alt="BLACKPINK" class="main-img"></div>
            </div>
        </div>
    </div>

</div>
