<!--
*********************************************************
Name: Caroline Kim
Assignment: 05
Purpose: Build a website with templating header.html and footer.html
Notes: This page is for an artist.  It included photos, albums + mv.
MusicVideo is embeded from YouTube, and link for the albums will be redirect to Spotify.
*********************************************************
-->


<div class="body-div">
    <img src="image/mamamoo/mamamoo_logo.png" alt="MAMAMOO" id="mama">

    <iframe class="mv" src="https://www.youtube.com/embed/uIAScvNDQpI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr class="my-4">
    <div class="col-1">
    <div class="artist_text_box01">
        <p class="artist-text">Mamamoo (Korean: 마마무), sometimes stylized as MAMAMOO, is a South Korean girl group formed by RBW (formerly WA Entertainment) in 2014.
            The group officially debuted on June 19, 2014, with the single "Mr. Ambiguous". Their debut was considered by some critics as one of the best K-pop debuts of 2014.
            They are recognized for their retro, jazz, R&B concepts and their strong vocal performances.</p>
    </div>
    <div  class="artist_text_box02">
        <p>Click Album to view the album.</p>
        <div class="album"><a href="https://open.spotify.com/album/11hjJntrvmauDoga4Krr0U"><img src="image/mamamoo/mmmA01.png" alt="MAMAMOO 2016"></a></div>
        <div class="album"><a href="https://open.spotify.com/album/17BRNcJygXPprUrdEA4zkD"><img src="image/mamamoo/mmmA02.png" alt="MAMAMOO 2016: Memory"></a></div>
        <div class="album"><a href="https://open.spotify.com/album/60m09rutmwj5ewOJoFIAVY"><img src="image/mamamoo/mmmA03.png" alt="MAMAMOO 2019: White Wind"></a></div>
        <div class="album"><a href="https://open.spotify.com/album/4G9qMxS9c4W5PPNdPrTaLn"><img src="image/mamamoo/mmmA05.png" alt="MAMAMOO 2018: Yellow Flower"></a></div>
        <div class="album"><a href="https://open.spotify.com/album/232T6PgapFXcufLzzRJU8u"><img src="image/mamamoo/mmmA04.png" alt="MAMAMOO 2019: 4Colors"></a></div>
    </div>
    </div>

    <hr class="my-4">

    <div class="img_fm"><img src="image/mamamoo/mi03.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm01.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mi04.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm02.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mi01.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mi02.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm03.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm04.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm05.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm06.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm07.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm08.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm09.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm10.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm11.jpg" alt="MAMAMOO"></div>
    <div class="img_fm"><img src="image/mamamoo/mmm12.jpg" alt="MAMAMOO"></div>
</div>